.clientsCreated {
    text-align: center;
}

.h2 {
    font-weight: 600;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

.logo {
    width: 250px;
    height: 100px;
}

.searchbar {
    background-color: #F3FBFF;
    border-radius: 5px;
    border-color: #1C70A4;
    border-width: 3px;
    width: 200px;
}

.button-client {
    border-radius: 10px;
    border-color: #64B6E9;
    background-color: #F3FBFF;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    width: auto;
    /* height: auto; */
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    justify-self: start;
}

.material-icons.md-primary {
    color: #1C70A4;
}

/* texto normal */
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */