.clientsCreated {
    text-align: center;
}

.header2 {
    font-weight: 600;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

/* texto normal */
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */