.grid-container {
    display: grid;
    grid-template-columns: [first] fit-content(25%) [second] fit-content(25%) [third] fit-content(25%) [fourth] fit-content(25%);
    gap: 5px;

    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.grid-child {
    margin: 5px;
}

.grid-child label {
    margin-bottom: 0;
}

.grid-button {
    grid-column: 3;
    grid-row: 6;
    justify-self: center;
    align-self: center;
}

.grid-input {
    min-width: 250px;
    max-width: 350px;
}

.grid-switch {
    grid-column: 2;
    grid-row: 6;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
}

.table-add-rem-button {
    display: grid;
    grid-template-columns: [first] fit-content(50%) [second] fit-content(50%);
    gap: 5px;
    justify-content: center;
}

.table-add-rem-button input {
    grid-column: span 2;
}

#grid-date-create {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 1;
}

#grid-date-expiration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 2;
}

#grid-date-close {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 1;
}

#grid-prognostic {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    grid-row: 3;
    justify-content: center;
    width: 500px;
}

#grid-diagnostic {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    grid-row: 3;
    justify-content: center;
    width: 500px;
}

.grid-budget {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
    /* background-color: cadetblue; */
}

#flex-budget {
    display: flex;
}

#table-budget {
    width: 100%;
    justify-items: center;
    grid-column: 3 / span 2;
}

.modal-os {
    display: grid;
    grid-template-columns: [a] 3fr [b] 3fr;
    align-items: center;
    justify-items: center;
    text-wrap: pretty;
    text-align: center;
}

.budget {
    grid-column: span 2;
    margin: 2px;
}

.budget-prog-diag {
    margin: 2px;
}

.budget-background {
    margin: 15px;
}

.budget-container {
    display: grid;
    grid-template-columns: [first] 2fr [second] 2fr;
    font-family: serif;
}

.budget-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    background-color: #fff307;
    font-size: 1.3em;
    text-align: center;
}

.budget-grid {
    display: grid;
    grid-template-columns: [first] 2fr [second] 2fr [third] 2fr;
    border: 1px solid black;
    border-top: 0px;
    /* text-align: center; */
}

.budget-grid fieldset {
    display: grid;
    grid-template-columns: [first] 2fr [second] 2fr;
    margin: 5px;
}

.budget-checkboxes {
    display: grid;
    grid-column: span 2;
    grid-template-columns: [first] 2fr [second] 2fr;
}

.budget-checkboxes div {
    justify-self: start;
}

.budget-checkboxes label {
    margin: 0px;
}

.budget-grid fieldset legend {
    grid-column: span 2;
    text-align: start;
    font-weight: bold;
    margin: 0px;
}

.budget-section {
    margin: 5px;
}

input[type="checkbox"]:checked {
    background-color: #ffc107;
}

.isChecked input {
    background-color: black;
}

.budget-p {
    margin: 0;
}

.info-p {
    font-size: 1em;
}

.budget-obs {
    justify-self: center;
    grid-column: span 3;
}

.item-serv {
    grid-template-columns: [first] 2fr [second] 2fr;
}