.grid-container-os {
    display: grid;
    grid-template-columns: [first] fit-content(20%) [second] fit-content(20%) [third] fit-content(20%) [fourth] fit-content(20%);
    gap: 5px;

    justify-items: center;
    justify-content: space-around;
    align-items: center;
}
.grid-child {
    margin: 5px;
}

.grid-child label {
    margin-bottom: 0;
}

.grid-button {
    grid-column: 3;
    grid-row: 6;
    justify-self: center;
    align-self: center;
}

.grid-button-edit {
    grid-column: 3;
    grid-row: 4;
    justify-self: center;
    align-self: center;
}

.grid-input {
    min-width: 250px;
    max-width: 350px;
}

.grid-switch {
    grid-column: 2;
    grid-row: 6;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
}

.grid-switch-edit {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
}

.table-add-rem-button {
    display: grid;
    grid-template-columns: [first] fit-content(50%) [second] fit-content(50%);
    gap: 5px;
    justify-content: center;
}

.table-add-rem-button input {
    grid-column: span 2;
}

#grid-date-create {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 1;
}

#grid-date-expiration {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 2;
}

#grid-date-close {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 1;
}

#grid-prognostic {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    grid-row: 3;
    justify-content: center;
    width: 500px;
}

#grid-diagnostic {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
    grid-row: 3;
    justify-content: center;
    width: 500px;
}

.grid-budget {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
}

#flex-budget {
    display: flex;
}

#table-budget-os {
    width: 100%;
    justify-items: center;
    grid-column: 3 / span 2;
}

.modal-os {
    display: grid;
    grid-template-columns: [a] 3fr [b] 3fr;
    align-items: center;
    justify-items: center;
    text-wrap: pretty;
    text-align: center;
}

.budget {
    grid-column: span 2;
    margin: 2px;
}

.budget-prog-diag {
    margin: 2px;
    border: 1px solid black;
    border-top: 0px;
}

.budget-background {
    margin: 15px;
}

.budget-container {
    display: grid;
    grid-template-columns: [first] 2fr [second] 2fr;
    font-family: serif;
}

.budget-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    background-color: #fff307;
    font-size: 1.3em;
    text-align: center;
}

.budget-grid {
    display: grid;
    /* gap: 10px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    border-top: 0px;
}

#budget-flex {
    border: 1px solid black;
    border-top: 0px;
}

#bugdet-total {
    text-align: center;
    margin-bottom: 5px;
}

.budget-grid fieldset {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;
    margin: 5px;
}

.budget-checkboxes {
    display: grid;
    grid-column: span 2;
    grid-template-columns: [first] 1fr [second] 1fr;
}

.budget-checkboxes div {
    justify-self: start;
}

.budget-checkboxes label {
    margin: 0px;
}

.budget-grid fieldset legend {
    grid-column: span 2;
    text-align: start;
    font-weight: bold;
    margin: 0px;
}

.budget-section {
    margin: 5px;
    align-self: center;
}

input[type="checkbox"]:checked {
    background-color: #ffc107;
}

.isChecked input {
    background-color: black;
}

.budget-p {
    margin: 0;
}

.info-p {
    font-size: 1em;
}

.budget-obs {
    align-self: start;
    grid-column: 2 / span 4;    
}

.item-serv {
    grid-template-columns: [first] 2fr [second] 2fr;
}

#div-flex div{
    margin-right: 10px;
    align-self: baseline;
}

hr {
    outline: 2px solid #ffc107;
    background-color: #ffc107;
    height: 2px;
    margin-top: 100px;
    opacity: 1 !important;
    border: none !important;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    align-self: center;
    justify-self: start;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}